
%html{:lang => "en",}
  %head
    %title "Cookle"
    :css 
      body { padding-top : 0px;} 
  %body
    .row-fluid
      .span12
      .span12
      .span12
      .span12
      .span12
      .span6.offset4
        %img.img-rounded{:src => "http://createfunnylogo.com/logo/google/Cookle.jpg"}/
    .row-fluid
      .span12
      .span8.offset3
        = form_tag("/search", :method => "get") do
          //= label_tag(:search_box, "Find a Recipe!")
          = text_field_tag :search_box, nil, :placeholder => 'Search for a recipe', :class=>'span7'
          .row-fluid
            .span5.offset2
              .btn-toolbar
                = submit_tag "Cookle Search", :class => 'btn' 
                %button.btn.btn-primary{:type => "button"} I'm feeling hungry
              
                
